
__pycache__/
.ipynb_checkpoints/
*.shp
*.shx
*.dbf
*.cpfg
*.zip
temp*
whisp_output_table.csv
temp_geo_id_lookup.csv
copy_whisp_output_table.csv
copy_whisp_output_table_w_risk.csv
.env
whisp.egg-info/
